# training
scikit-learn
numpy
pandas
pandera
matplotlib
seaborn
boto3
python-dotenv

# (optional)
pyarrow
joblib

# kubeflow
kfp
kfp-kubernetes
kubernetes
kubeflow-training

# mlflow
mlflow


# API / Serving 
flask
flask-cors

# feast-feature-store
feast
feast[redis]
feast[postgres]

