MINIO_ENDPOINT=http://minio-service.kubeflow:9000
MINIO_AWS_ACCESS_KEY=<minio-access-key>
MINIO_AWS_SECRET_KEY=<minio-secret-key>

KFP_URL=<kubelow-pipeline-url-for-upload-dataset>
PIPELINE_ENDPOINT=<kubelow-pipeline-url>

MLFLOW_TRACKING_URI_EXTERNAL=<external-url>
MLFLOW_EXPERIMENT_NAME=employee-attrition
MLFLOW_MODEL_NAME=employee-attrition-model
MLFLOW_REGISTER_MODEL_NAME=register-employee-attrition-model
MLFLOW_TRACKING_INTERNAL_URI=http://mlflow.mlflow.svc.cluster.local:80

KSERVE_URL=<external-url>/v1/models/sklearn-employee-attrition:predict

AWS_SECRET_ACCESS_KEY=<minio-secret-key>
FEAST_S3_ENDPOINT_URL=http://localhost:9000
